<html lang="en">

<head>

    <!-- The link and script that I used (out source)-->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="/Css/funDishes.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">

    <!-- Mohammed -->
    <link rel="icon" href="./img/icon.ico" type="image/gif" sizes="16x16">
    <!------>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Fun-Dishes</a>
        </nav>
    </header>
    <div style="height: 100"></div>
    <form method="post" action="/admin/recipie/update/<%= dish["Id"]%>">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5 form-group">
                <label>Title</label><br>
                <input type="text" name="Title" class="form-control" required="true" value="<%= dish['Title']%>"><br>
                <label>Description</label><br>
                <textarea name="Description" class="form-control" required="true" >"<%= dish['Description']%>"</textarea><br>
                <label>Difficulty</label><br>
                <input type="text" name="Diffculty" class="form-control" required="true" value="<%= dish['LevelOfDiffculty']%>"><br>
                <label>Image url</label><br>
                <input type="text" name="image" class="form-control" required="true" value="<%= dish['image']%>"><br>
                <label>Video Url</label><br>
                <input type="text" name="video" class="form-control" required="true" value="null url"><br>
                <label>Refrences</label><br>
                <input type="text" name="refrences" multiple="true" class="form-control" required="true" value="<%= dish['Rference']%>"><br>
            </div>
            <div class="col-md-5 form-group">
                <label>Time(minutes)</label><br>
                <ul  class="list-unstyled">
                    <li><label>Prep Time</label><input type="number" name="prepTime" class="form-control" required="true" value="<%= dish['Time']['PrepTime']%>"></li>
                    <li><label>Cook Time</label><input type="number" name="cookTime" class="form-control" required="true" value="<%= dish['Time']['CookTime']%>" ></li>
                    <li><label>Total Time</label><input type="number" name="totalTime" class="form-control" required="true" value="<%= dish['Time']['TotalTime']%>" ></li>
                </ul>
                <label>Ingredients(separated by line)</label><br>
                <textarea name="Ingredients" class="form-control" required="true">
                    <%= JSON.stringify(dish['Ingredients'])%>
                </textarea><br>
                <label>Nutritional Facts</label><br>
                <textarea name="NutritionalFacts" class="form-control">
                    <%= JSON.stringify(dish['NutritionalFacts'])%>
                </textarea><br><br>
                <input type="submit" value="Update" class="btn btn-outline-success my-2 my-sm-0" style="width: 80%">
            </div>
        </div>
    </div>
    </form>
     <footer class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>&copy; 2017-2018 Company, Inc. &middot;
                <a href="#">Privacy</a> &middot;
                <a href="#">Terms</a>
            </p>
        </footer>

</body>
</html>
<!--Bassam-->